header {
	a.navbar-brand {
		color: $pear;
		font-family: $poppins;
		font-size: 1.5rem;
		font-weight: 600;
		transition: 0.3s ease-in-out;

		span {
			font-size: 3rem;
			font-weight: 700;
		}

		&:hover {
			cursor: pointer;
			color: $olive;
		}
	}

	ul.navbar-nav {
		a.nav-link {
			color: $pear !important;
			font-family: $poppins;
			font-weight: 600;

			&:hover,
			&.hover {
				color: darken($color: $pear, $amount: 20%) !important;
			}

			&:active,
			&.active {
				color: darken($color: $pear, $amount: 25%) !important;
			}
		}
	}
}
