.material-icons {
	vertical-align: middle;
}

.play-icon {
	display: inline-flex;
	width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	margin-left: 1rem;
	font-size: 18px;
}
